/* giao diện pc */

@media(min-width:1024px) {}


/* giao diện tablet */
@media(min-width:740px) and (max-width :1023px) {}


/* giao diện mobile */
@media(max-width:740px) {

    .header {
        overflow: hidden;
    }

    .nav {
        flex-direction: column;
        background-color: black;
    }

    .btn-search {
        display: none;
        position: absolute;
        top: 0;
        right: 0;
    }

    .buy-tickets-list {
        flex-direction: column;
        gap: 20px;
    }

    .buy-ticket-item {
        width: 100%;
    }

    .contact {
        flex-direction: column;
        gap: 20px;
    }

    .input-row1 {
        flex-direction: column;
    }

    .members-list {
        flex-direction: column;
        gap: 20px;
    }

    .member-item {
        width: 100%;
    }

    .btn-menu {
        display: block;
        cursor: pointer;
        position: absolute;
        top: 0;
        margin-top: 10px;
        right: 0;
    }

    .btn-menu:hover {
        background-color: #ccc;
        color: black;
    }

    .contact-section {
        flex-direction: column;
    }
}